<%- include('../partials/navbar') %>

<h1>Detalhes do método de pagamento</h1>
<p>ID: <%= pagamento.id %></p>
<p>Nome: <%= pagamento.nome %></p>
<p>Descrição: <%= pagamento.descricao %></p>

<a href="/pagamentos" class="btn btn-primary">Voltar</a>
